@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


.nav-adesa{
    font-family: 'Baloo Bhai';font-size: 22px;
}
.bg-body-blues{
    background-color: #1C6190;
}
.link-home{
    text-decoration: underline;
    text-decoration-color: #FFEC45; 
}

.navbar-nav{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.container-card{
    background-color: #E8E8E86B;
}
/* .card-title{
 
    background-color: #1C6190;
} */

.btn-yellow{
    background-color: #FFEC45;
}